*{margin: 0;
padding: 0;
box-sizing: border-box;}

.animations-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    padding: 5%;
    margin: 5%;
    justify-content: space-evenly;
}